<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/53d45be849.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <!--nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        <!--/div>
        <!-- /.container-fluid -->
    <!--/nav-->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--img class="img-responsive" src="img/profile.png" alt=""-->
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8 hello">
                        <h1 class="intro-hob">Hobbyist</h1>
                        <hr>
                        <h2 class="intro work"> &nbsp &nbsp &nbsp &nbsp an app simplifies&enhances movie watching experience</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="design">Design Process</h2>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">needfinding</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">Observing and Interviewing people are very good ways to find design oppotunities. Our interviewers
                        told us that they recorded a lot of movies(books, music etc.) that they wanted to watch or review in their memo but finally lost motivation to watch them or even forget about them as the time past by. What a pity people missed those movies they were interested in. We decided to design an app <b>to help users take use of movies they collected.</b></p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">storyboards</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">What problems that our design can solve? Thinking about some real scenarios and drawing 
                        the storyboards, we found that our design could <b>help users make a satisfying decision on what movies to watch when nothing came up in their minds.</b></p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">prototype&heuristic evaluation feedback</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">
                        we started to think about what features could realize our goals and draw paper prototype based on them.<br><br> 
                        <b>Feature 1.</b> users could search movies， classify and save them into movie lists that they have watched("history") or were going to watch("watchlist"); <br><br><b>Feature 2.</b> to take use of movies in these two "repositories", we provided users with features of randomly choosing a movie from "watchlist" or recommending a movie to other users from "history".<br><br>
                        Asking friends to operate paper prototype and claasifying problems using beruistic evaluation was quite helpful for us to revise our design.
                    </p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">Wireframe</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">
                        Using <b>Adobe Comp, Adobe Photoshop and Invision</b> to create our app wireframe. It was a good chance to design and revise the layout of the app on wireframe. We aimed to let users use each features in as few steps as possible.
                    </p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">Implementation</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">Start to make the app real!<br><br>
                        Implement the app using <b>HTML, CSS, JavaScript, Jquery and NodeJS.</b><br><br>
                        URL:<a href="http://hobbyists.herokuapp.com" target="_blank">hobbyists.herokuapp.com</a>
                    </p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">testing</p>
                </div>
                <div class="col-lg-5">
                    <p class="process"> We asked some friends to use our app in front of us and give us advice(<b>In-person Tests</b>). According
                        to the advice they gave, we used "google analytics" to do <b>A/B Tests</b> for some features, and analyzed the data 
                        based on <b>chi-squared statitics</b>. These testing results helped us optimize the layout, functionalities and asthetic details of our app.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Comments -->
    <section class="comment last">
        <div class="container">
            <div class="row up">
                <div class="divider-up col-lg-9 col-lg-offset-2">
                </div>
            </div>
            <div id="comment-box-container">
                <div class="comment-box">
                    <div class="comment-amount col-lg-offset-2 col-lg-9 clearfix">
                        <div class="amount-container">
                            <a href="#">
                                <p class="number">2 comments<i class="fa fa-plus" aria-hidden="true"></i></p>
                            </a>
                        </div>
                    </div>
                    <div class="row comment-showing">
                        <div class="single-comment clearfix col-lg-9 col-lg-offset-2">
                            <div class="comment-center">
                                <div class="user-photo">
                                    <img alt="-add name" src="#">
                                </div>
                                <div class="review-container">
                                    <div class="name-review">
                                        <div class="name">
                                            <p>user name</p>
                                        </div>
                                        <div class="review">
                                            <p>great job!</p>
                                        </div>
                                    </div>
                                    <div class="like-reply">
                                        <a>like</a>
                                        <span>&middot</span>
                                        <a>reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-writting">
                        <div class="clearfix col-lg-9 col-lg-offset-2">
                            <div class="comment-center">
                                <div class="user-photo">
                                    <img alt="-add name" src="#">
                                </div>
                                <div class="comment-content">
                                    <div class="name-text">
                                        <div class="input-name">
                                            <input type="text" placeholder="name...">
                                        </div>
                                        <div class="input-container">
                                            <textarea placeholder="Write a Review..."></textarea>
                                        </div>
                                    </div>
                                    <div class="input-submit">
                                        <button class="comment-btn" type="submit">post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row down">
                <div class="divider-down col-lg-9 col-lg-offset-2">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above mywork">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="footer-col col-md-4">
                        <h3>CONTACT</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-github fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-linkedin fa-lg"></i></a>
                            </li>
                        </ul>
                        <h3 id="email">j3ouyang@ucsd.edu</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below mywork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; OYJY Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!--React-->
    <script src="../output/index.js"></script>

</body>

</html>
