<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/53d45be849.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!--
    <aside class="sidebar">
        <div class="sidelist">
            <ul class=>
                <li><a href="#portfolio">My Work</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </aside> -->

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">OU</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About Me</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">My Work</a>
                    </li>
                    <!--li class="page-scroll">
                        <a href="#about">About Me</a>
                    </li-->
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--img class="img-responsive" src="img/profile.png" alt=""-->
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7 hello">
                        <h1 class="intro">hi I<span class="punctuation">'</span>m Jingyi Ouyang<span class="punctuation">.</span></h1>
                        <h2 class="intro like">&nbsp &nbsp &nbsp &nbsp Software Engineer</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <h2>about me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="selfie"><img src="../image/selfie.jpg" class="img-responsive" alt=""></div>
                </div>
                <div class="col-lg-5">
                    <div class="content"><p>Nice to meet you! I am Jingyi Ouyang, a graduate student of engineering at UC San Diego. I am interested in software development, especially in front-end development.</p></div>
                    <div class="content">
                        <p><b>SKILL</b><p>
                        <p>Coding: Java, C, HTML/CSS, JS, jQuery, Node.js</p>
                        <p>Tools: Heroku, Git</p>
                        <p>Design: Adobe PS, InVision</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>my work</h2>
                    <!--hr class="star-primary"-->
                </div>
            </div>
            <div class="row portfolio-3items">
                <div class="col-sm-4 portfolio-item">
                    <a href="hobbyist.html" class="portfolio-link" target="_blank">
                        <!--div class="caption">
                            <div class="caption-content">
                                <br><br><br>
                                <p class="after">Hobbyist</p>
                            </div>
                        </div-->
                        <img src="../image/hobbyist.jpg" class="img-responsive before" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="musicApp.html" class="portfolio-link" target="_blank">
                        <!--div class="caption">
                            <div class="caption-content">
                                <br><br>
                                <p class="after">Music App Redesign</p>
                            </div>
                        </div-->
                        <img src="../image/phone.png" class="img-responsive before" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="studyabroad.html" class="portfolio-link" target="_blank">
                        <!--div class="caption">
                            <div class="caption-content">
                                <p class="after">UCSD "Study Abroad" Website Redesign</p>
                            </div>
                        </div-->
                        <img src="../image/website.jpg" class="img-responsive before" alt="">
                    </a>
                </div>
            </div>
    </section>

    <!-- About Section 
    <section class="success" id="about">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center">
                    <h2>about me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="selfie"><img src="selfie.jpg" class="img-responsive" alt=""></div>
                </div>
                <div class="col-lg-5">
                    <div class="content"><p>Nice to meet you! I am Jingyi Ouyang, a graduate student of engineering at UC San Diego. I am interested in software development, especially in front-end development.</p></div>
                    <div class="content">
                        <p><b>SKILL</b><p>
                        <p>Coding: Java, C, HTML/CSS, JS, jQuery, Node.js</p>
                        <p>Tools: Heroku, Git</p>
                        <p>Design: Adobe PS, InVision</p>
                    </div>
                </div>
            </div>
        </div>
    </section-->
    
    <!-- Footer -->
    <footer class="text-center" id="contact">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="footer-col col-md-4">
                        <h3>CONTACT</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="" class="btn-social btn-outline"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-github fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-linkedin fa-lg"></i></a>
                            </li>
                        
                        </ul>
                        <h3 id="email">jingyi1617@gmail.com</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; OYJY Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
   
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


</body>

</html>
