<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="../css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/53d45be849.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <!--nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <!--div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        <!--/div>
        <!-- /.container-fluid -->
    <!--/nav-->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--img class="img-responsive" src="img/profile.png" alt=""-->
                    <div class="col-sm-1"></div>
                    <div class="col-sm-9 hello">
                        <h1 class="intro-hob">UCSD "study abroad" website - wireframe</h1>
                        <hr>
                        <h2 class="intro work">&nbsp &nbsp &nbsp UCSD "study abroad" website with optmized layout and contents</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="design">Design Process</h2>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">Interviews&Persona</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">The goal of making persona is to help designers put themselves in the shoes of a group of users so designers
                        can appreciate those users' needs and goals. We <b>identified three personas</b> that are "students who are thinking about going abroad", "students who have been abroad and returned" and "Parents who want information on study abroad program". <b>For each persona</b>, we
                        <b>interviewed three persons</b> about their concerns about study abroad program and its website.</p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">use case table</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">For different people of different persona, they have their own distinct concerns. We <b>came up with 100 use cases</b> in total about things our three personas might concern, and <b>estimated the importance</b> of each use case to a specific persona. <b>Analyzing this table</b> helped us get to know what things each user type concern most, which was the basis of our redesign. 
                    </p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">Competitive analysis</p>
                </div>
                <div class="col-lg-5">
                    <p class="process"><b>Navigation bars, Main homepage lables and footers</b> are three parts of website users use most. So We <b>chose five "study abroad" websites</b> from different universities and analyzed these three parts. <b>From the result</b>, we found some 
                    items must be taken into account in redesign because almost all the websites had. And some websites has distinct items related to their local culture and policy, which was also a factor we need to be concerned about in redesign.
                    </p>
                </div>
            </div>
            <div class="row step">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="title">Wireframe</p>
                </div>
                <div class="col-lg-5">
                    <p class="process">
                        Based on results of interviews, use case table analysis and competitive anlysis, we redesigned "study abroad" website of UCSD and made the wireframe using <b>Balsamique</b>.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Comments -->
    <section class="comment last">
        <div class="container">
            <div class="row up">
                <div class="divider-up col-lg-9 col-lg-offset-2">
                </div>
            </div>
            <div id="comment-box-container">
                <div class="comment-box">
                    <div class="comment-amount col-lg-offset-2 col-lg-9 clearfix">
                        <div class="amount-container">
                            <a href="#">
                                <p class="number">2 comments<i class="fa fa-plus" aria-hidden="true"></i></p>
                            </a>
                        </div>
                    </div>
                    <div class="row comment-showing">
                        <div class="single-comment clearfix col-lg-9 col-lg-offset-2">
                            <div class="comment-center">
                                <div class="user-photo">
                                    <img alt="-add name" src="#">
                                </div>
                                <div class="review-container">
                                    <div class="name-review">
                                        <div class="name">
                                            <p>user name</p>
                                        </div>
                                        <div class="review">
                                            <p>great job!</p>
                                        </div>
                                    </div>
                                    <div class="like-reply">
                                        <a>like</a>
                                        <span>&middot</span>
                                        <a>reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row comment-writting">
                        <div class="clearfix col-lg-9 col-lg-offset-2">
                            <div class="comment-center">
                                <div class="user-photo">
                                    <img alt="-add name" src="#">
                                </div>
                                <div class="comment-content">
                                    <div class="name-text">
                                        <div class="input-name">
                                            <input type="text" placeholder="name...">
                                        </div>
                                        <div class="input-container">
                                            <textarea placeholder="Write a Review..."></textarea>
                                        </div>
                                    </div>
                                    <div class="input-submit">
                                        <button class="comment-btn" type="submit">post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row down">
                <div class="divider-down col-lg-9 col-lg-offset-2">
                </div>
            </div>
        </div>
    </section>
            
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above mywork">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="footer-col col-md-4">
                        <h3>CONTACT</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-github fa-lg"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-linkedin fa-lg"></i></a>
                            </li>
                        
                        </ul>
                        <h3 id="email">j3ouyang@ucsd.edu</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below mywork">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; OYJY Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>   

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!--React-->
    <script src="../output/index.js"></script>
    
</body>

</html>
